/*--Remember the cascade: Later styles override earlier ones and more specific styles override more general ones.--*/
body {
  color: #DEDBD2;
  background-color: #4A5759;
  font-size: 16px;
  font-family: 'Gentium Book Basic', serif;
}
p {
  margin-bottom: .67em;
}
nav, footer {
  background-color: #B0C4B1;
}
nav{
  font-weight: 600;
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #4A5759;
}
/*-- Main Menu Styles--*/
nav ul {
  list-style: none;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}
nav a:link, nav a:visited {
  color: #4A5759;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  text-decoration: underline;
}
nav a.active {
  color: #4A5759;
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}
header img {
  width: 100%;
  margin: 0 auto;
}
header h1 {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}
.small {
  margin-top: 1em;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
}
.sideFigure {
  float: right;
  margin-left: 1.25em;
  margin-right: auto;
  width: 300px;
}
.sideFigure figure {
  padding: 0.5em;
}
article figcaption {
  font-size: 14px;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
}
.pagination {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
a.button {
  border: 1px solid #DEDBD2;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: #DEDBD2;
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}
a.button:hover, a.button:active {
  border: 1px solid #4A5759;
  text-decoration: none;
  color: #4A5759;
  background-color: #B0C4B1;
  font-weight: 600;

}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
